@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE>

<body>
    <div class="outer-wrapper">

        <header>
            <div class="logo">
                <a href="#">
                    <img src="" alt="" />
                </a>
            </div>
        </header>

        <div class="inner-wrapper">
            <section id="content" class="content-container">
                <a href="#">
                    <h2>Forum</h2>
                </a>
                <div class="topic-container">
                    <table>
                        <tr>
                            <td>Topic A</td>
                        </tr>
                        <tr>
                            <td>Topic B</td>
                        </tr>
                        <tr>
                            <td>Topic C</td>
                        </tr>
                        <tr>
                            <td>Topic D</td>
                        </tr>

                    </table>
                </div>
            </section>
        </div>
    </div>
</body>

